body{
    background-image: url("fondopag.PNG");
}
a{
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
a:hover{
    color: aqua;
    background-color: black;
}