*{
    margin: 0;
    padding: 0;
    font-family: consolas;
}
body{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content2{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    position: absolute;
    color: white;
    font-size: 20px;
    top: 50px;
}
h4{
    position: absolute;
    top: 130px;
    color: white;
    font-size: 20px;
}
#parrafo2{
    font-size: 20px;
    position: absolute;
    top: 230px;
    color: white;
}
#parrafo3{
    font-size: 20px;
    position: absolute;
    top: 310px;
    color: white;
}
#parrafo4{
    font-size: 20px;
    position: absolute;
    top: 440px;
    color: white;
}
#parrafo5{
    font-size: 20px;
    position: absolute;
    top: 370px;
    color: white;
}
.content2 a{
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    width: 33%;
    height: 4%;
    top:500px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
}
.content2 a:hover{
    color: aqua;
    background-color: black;
}